<header class="boxed-container">
    <section id="top-nav" class="container-fluid nopadding">
        <div class="row nopadding block-color01">
            <div class="col-md-1 app-logo text-center"><i class="material-icons md-72 md-dark">music_note</i></div>
            <div class="col-md-11 app-title nopadding">
                <div class="row nopadding title">
                    <div class="col-md-12">
                        <h2 class="font-accent uppercase">Guitar Tabs Translator</h2>
                    </div>
                </div>
                <div class="row nopadding bg-darken-01">
                    <div class="col-md-12 ">
                        <h4 class="font-accent uppercase">From Tabs to Score and Back</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<div class="container">
    <input-switch></input-switch>
    <scientific-notation-output></scientific-notation-output>
</div>

<footer class="padding-50">
    <div class="container-fluid nopadding">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 copyright">
                <p><i class="material-icons">copyright</i> Seth Hare 2016</p>
            </div>
        </div>
    </div>
</footer>